.App {
  text-align: center;
}

.flex {
  display: flex;
  margin: 5vw;
}

.beer-info {
  text-align: left;
}

.header {
  background-color: darkcyan;
  width: 100vw;
  padding: 4vh;
}

.header-link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 4vh;
}

img {
  padding: 3vh;
}